<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  |
  <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", 
 								:title => "Delete #{user.name}"%> 
       <!-- -- This will create a link with the DELETE rest action, with javascript confirmation and title -->
  <% end %>
</li>